#first-block {
padding-left: 10px;
padding-right: 10px;
}
footer {
background:#fff;
}

/* sticky footer css */
html {
height: 100%;
}
 
body {
height: 100%;
}
 
.with-sticky-footer {
display: table;
height: 100%;
table-layout: fixed;
width: 100%; 
}
 
.sticky-footer {
display: table-row;
height: 1px;
} 


@media screen and (max-width: 768px) {
  .right {
  float:none;
  }
}










html {
    font-family: "Lucida Sans", sans-serif;
}

body {
	margin: 0;	
}

input, select {
	width: 100%;
}

/* set label over input */
label, input {
	display: block;
}

.container {
	width: 100%;
	text-align: center;
}

/* content container, to center content and color background */
.container2 {
	background: #aaaaaa;
	width: 100%;
	text-align: center;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
}

/* content to limit field width */
.content {
	width: 100%;
	text-align: left;
	margin: auto;
}

/* fix float "out of flow" */
.col::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
}                
}